/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* CSS RESET
 *
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img, video, iframe, object {
  max-width: 100%;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Sass Variables */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "ZCOOL XiaoWei", serif;
}

/* Fade in and out animation */
.fade-container {
  width: 100vw;
  height: 100vh;
  background: #576c52;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-animation: fade-out 1s linear 4s forwards;
          animation: fade-out 1s linear 4s forwards;
  z-index: 10;
}
.fade-container .title-fade,
.fade-container .logo-fade,
.fade-container .name-fade {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}
.fade-container .title-fade,
.fade-container .name-fade {
  height: 10vh;
  color: #fff;
  text-align: center;
}
.fade-container .title-fade {
  font-size: 3rem;
  -webkit-animation: fade-in 0.5s ease-in 1s forwards;
          animation: fade-in 0.5s ease-in 1s forwards;
  font-family: "Great Vibes", cursive;
}
.fade-container .logo-fade {
  height: 60vh;
  -webkit-animation: fade-in 0.5s ease-in forwards;
          animation: fade-in 0.5s ease-in forwards;
}
.fade-container .logo-fade img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.fade-container .name-fade {
  font-size: 2rem;
  -webkit-animation: fade-in 1s ease-in 2s forwards;
          animation: fade-in 1s ease-in 2s forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Header */
header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #576c52;
  -webkit-box-shadow: 0px 1px 10px 3px #1f2b1c;
          box-shadow: 0px 1px 10px 3px #1f2b1c;
}
header #logo {
  position: absolute;
  top: 0px;
  left: 40px;
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}
header #title {
  height: 64px;
  max-width: 50%;
  margin-left: 150px;
  font-family: "Great Vibes", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header #title h1 {
  display: inline;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 5px;
}
header .hamburger-wrapper,
header .toggle {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 40px;
}
header .toggle {
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
header .hamburger-menu {
  height: 64px;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .hamburger-menu .middle-bar {
  height: 5px;
  width: 50px;
  border-radius: 5px;
  background: #000;
}
header .hamburger-menu .middle-bar::before,
header .hamburger-menu .middle-bar::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50px;
  border-radius: 5px;
  background: #000;
}
header .hamburger-menu .middle-bar::before {
  top: 15px;
}
header .hamburger-menu .middle-bar::after {
  bottom: 15px;
}
header .toggle:checked ~ .hamburger-wrapper {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
header .toggle:checked ~ .hamburger-wrapper .middle-bar:before,
header .toggle:checked ~ .hamburger-wrapper .middle-bar:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  top: 30px;
}
header .navigation {
  width: 30%;
  position: absolute;
  margin-top: 64px;
  padding: 0;
  right: -50%;
  top: 0;
  text-align: center;
}
header .navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  background: #576c52;
}
header .navigation a li {
  padding: 30px 0;
  border: 1px solid #fff;
  background: #576c52;
}
header .navigation a:nth-child(odd) li {
  background: #A0B29B;
}
header .toggle:checked ~ .navigation {
  right: 0;
  -webkit-transition: right 0.7s ease-out;
  -o-transition: right 0.7s ease-out;
  transition: right 0.7s ease-out;
}

/* About */
.about-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 64px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("images/background-forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.about-container .about-content {
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  position: relative;
}
.about-container .about-content h1 {
  padding: 20px;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}
.about-container .about-content #picture {
  width: 40%;
  min-width: 275px;
  min-height: 275px;
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  position: relative;
}
.about-container .about-content #picture img {
  width: 100%;
}
.about-container .about-content p {
  padding: 20px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Readings section */
.readings {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #655F73;
}
.readings .readings-description {
  width: 70%;
  line-height: 1.8rem;
  font-size: 1.2rem;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
}
.readings .readings-description h1 {
  padding: 20px 0;
  font-size: 2rem;
}

.flex {
  background-image: url("images/reading-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

.flex-container {
  min-height: 400px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-container .flex-background {
  width: 400px;
  height: 265px;
  margin: 20px;
}
.flex-container #tarot {
  background: url("images/tarot.jpg");
  background-size: cover;
}
.flex-container #runes {
  background: url("images/runes.jpg");
  background-size: cover;
}
.flex-container #palm {
  background: url("images/hands.jpg");
  background-size: cover;
}
.flex-container .flex-title {
  font-size: 2rem;
  padding: 5px 0 5px 15px;
  background: rgba(255, 255, 255, 0.6);
}
.flex-container .flex-content {
  width: calc(90% - 400px);
  height: 265px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.flex-container .flex-content h2 {
  font-size: 1.6rem;
  padding: 5px;
  font-style: italic;
}
.flex-container .flex-content p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 5px;
}
.flex-container .flex-content #rune-content {
  margin-left: calc(20% - 10px);
}

/* Contact Section */
.contact {
  width: 100%;
  height: auto;
  background: #655F73;
}
.contact h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 60px;
}
.contact .contact-container {
  width: 70%;
  min-width: 320px;
  margin: auto;
  padding: 60px 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.contact .contact-container .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact .contact-container .icon-wrap img {
  width: 100px;
}
.contact .contact-container #facebook-events {
  margin: 20px auto;
  width: 500px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .about-container {
    float: none;
    padding-top: 50px;
  }

  .flex-container {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    border: 1px solid #fff;
    margin: 40px auto;
  }
  .flex-container .flex-background {
    width: 80vw;
    margin: 0;
    height: calc(80vw * 0.6625);
  }
  .flex-container #runes {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flex-container .flex-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: auto;
    width: 75vw;
    padding: 20px;
    margin: 0 auto;
  }
  .flex-container .flex-content #rune-content {
    margin-left: 0;
  }

  .contact .contact-container #facebook-events {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  header .navigation {
    width: 50%;
  }
  header #title {
    display: none;
  }

  .contact .contact-container .icon-wrap img {
    width: 50px;
  }
}
@media screen and (max-width: 450px) {
  .about-container .about-content #picture {
    float: none;
    margin: auto;
  }

  .readings .readings-description {
    padding: 10px;
  }
}
